<script setup>
	const props = defineProps(['generatedUrl']);

	function copyUrl() {
		navigator.clipboard.writeText(props.generatedUrl);

		var copyButton = document.getElementById('copy-button');
		copyButton.innerText = "Copiado";
		setTimeout(() => { copyButton.innerText = "Copiar"; }, 3000);
	}
</script>

<template>
	<div>
		<input type="text" id="url-output" v-model="props.generatedUrl" size="30" disabled>
		<button id="copy-button" @click="copyUrl">Copiar</button>
		<button @click="$emit('toggleIsGenerated')">
			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" viewBox="0,0,256,256">
				<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M25,5c-10.64844,0 -19.36719,8.37891 -19.94531,18.89063c-0.04687,0.71875 0.29297,1.40625 0.89453,1.80469c0.60156,0.39453 1.37109,0.4375 2.01172,0.10938c0.64063,-0.32812 1.05859,-0.97656 1.08594,-1.69531c0.46484,-8.43359 7.39453,-15.10937 15.95313,-15.10937c4.58594,0 8.69922,1.92578 11.60938,5h-2.60937c-0.72266,-0.01172 -1.39062,0.36719 -1.75391,0.99219c-0.36719,0.62109 -0.36719,1.39453 0,2.01562c0.36328,0.625 1.03125,1.00391 1.75391,0.99219h6.26172c0.22656,0.03906 0.45703,0.03906 0.6875,0h3.05078v-10c0.00781,-0.53906 -0.20312,-1.05859 -0.58594,-1.44141c-0.38281,-0.38281 -0.90234,-0.59375 -1.44531,-0.58594c-1.10156,0.01563 -1.98437,0.92188 -1.96875,2.02734v3.77734c-3.66797,-4.15625 -9.03516,-6.77734 -15,-6.77734zM43.03125,23.97266c-1.10547,-0.04687 -2.03516,0.8125 -2.07812,1.91797c-0.46484,8.43359 -7.39453,15.10938 -15.95312,15.10938c-4.58594,0 -8.69531,-1.92578 -11.60937,-5h2.60938c0.72266,0.01172 1.39063,-0.36719 1.75391,-0.99219c0.36719,-0.62109 0.36719,-1.39453 0,-2.01562c-0.36328,-0.625 -1.03125,-1.00391 -1.75391,-0.99219h-6.28125c-0.21094,-0.03125 -0.42187,-0.03125 -0.63281,0h-3.08594v10c-0.01172,0.72266 0.36719,1.39063 0.99219,1.75391c0.62109,0.36719 1.39453,0.36719 2.01563,0c0.625,-0.36328 1.00391,-1.03125 0.99219,-1.75391v-3.77734c3.66797,4.15625 9.03516,6.77734 15,6.77734c10.64844,0 19.36719,-8.37891 19.94531,-18.89062c0.03906,-0.53906 -0.14453,-1.07031 -0.50391,-1.47266c-0.36328,-0.40234 -0.87109,-0.64062 -1.41016,-0.66406z"></path></g></g>
			</svg>
		</button>
	</div>
</template>

<style scoped>
div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

input {
	border: 0px;
	font-size: 1.1rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 10px;
	margin: 5px;
	color: white;
}
</style>
