body {
	color: rgba(235, 235, 235, 0.64);
	background: #181818;
	font-family: 'Segoe UI', Cantarell,	sans-serif;
	margin: 0;
	padding: 0;
}

#app {
	width: 100vw;
	height: 100vh;
}

button {
	cursor: pointer;
	border: 0px;
	font-size: 1.1rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 10px;
	margin: 5px;
	color: white;
	background-color: #00bd7e;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
