<script setup>
import GenerateLink from './components/GenerateLink.vue'
import CopyUrl from './components/CopyUrl.vue'
import { ref } from 'vue';

const isGenerated = ref(false);
const generatedUrl = ref();

function toggleIsGenerated() {
	isGenerated.value = !isGenerated.value;
}

function changeGeneratedUrl(url) {
	generatedUrl.value = url;
	toggleIsGenerated();
}

</script>

<template>
	<CopyUrl
		v-if="isGenerated"
		v-on:toggleIsGenerated="toggleIsGenerated()"
		:generatedUrl
	/>
	<GenerateLink
		v-else
		v-on:changeGeneratedUrl="changeGeneratedUrl"
	/>
</template>
